In [1]:
import pickle
import pandas as pd
import numpy as np

In [24]:
with open('datasets/final_project_dataset_modified.pkl') as data_file:
    data_dict = pickle.load(data_file)

df = pd.DataFrame(data_dict).transpose()
df = df.replace({"NaN":np.nan})
df.reset_index(inplace=True)
df.rename(index=str, columns={"index": "name"}, inplace=True)
print df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143 entries, 0 to 142
Data columns (total 22 columns):
name                         143 non-null object
bonus                        79 non-null float64
deferral_payments            37 non-null float64
deferred_income              47 non-null float64
director_fees                16 non-null float64
email_address                109 non-null object
exercised_stock_options      99 non-null float64
expenses                     92 non-null float64
from_messages                84 non-null float64
from_poi_to_this_person      84 non-null float64
from_this_person_to_poi      84 non-null float64
loan_advances                2 non-null float64
long_term_incentive          63 non-null float64
other                        90 non-null float64
poi                          143 non-null bool
restricted_stock             107 non-null float64
restricted_stock_deferred    17 non-null float64
salary                       92 non-null float64
shared_receipt_with_poi      84 non-null float64
to_messages                  84 non-null float64
total_payments               122 non-null float64
total_stock_value            123 non-null float64
dtypes: bool(1), float64(19), object(2)
memory usage: 24.7+ KB
None

In [25]:
print df.head()

                 name      bonus  deferral_payments  deferred_income  \
0     ALLEN PHILLIP K  4175000.0          2869717.0       -3081055.0
1       BADUM JAMES P        NaN           178980.0              NaN
2  BANNANTINE JAMES M        NaN                NaN          -5104.0
3       BAXTER JOHN C  1200000.0          1295738.0       -1386055.0
4      BAY FRANKLIN R   400000.0           260455.0        -201641.0

   director_fees               email_address  exercised_stock_options  \
0            NaN     phillip.allen@enron.com                1729541.0
1            NaN                         NaN                 257817.0
2            NaN  james.bannantine@enron.com                4046157.0
3            NaN                         NaN                6680544.0
4            NaN         frank.bay@enron.com                      NaN

   expenses  from_messages  from_poi_to_this_person        ...          \
0   13868.0         2195.0                     47.0        ...
1    3486.0            NaN                      NaN        ...
2   56301.0           29.0                     39.0        ...
3   11200.0            NaN                      NaN        ...
4  129142.0            NaN                      NaN        ...

   long_term_incentive      other    poi  restricted_stock  \
0             304805.0      152.0  False          126027.0
1                  NaN        NaN  False               NaN
2                  NaN   864523.0  False         1757552.0
3            1586055.0  2660303.0  False         3942714.0
4                  NaN       69.0  False          145796.0

   restricted_stock_deferred    salary  shared_receipt_with_poi  to_messages  \
0                  -126027.0  201955.0                   1407.0       2902.0
1                        NaN       NaN                      NaN          NaN
2                  -560222.0     477.0                    465.0        566.0
3                        NaN  267102.0                      NaN          NaN
4                   -82782.0  239671.0                      NaN          NaN

   total_payments  total_stock_value
0       4484442.0          1729541.0
1        182466.0           257817.0
2        916197.0          5243487.0
3       5634343.0         10623258.0
4        827696.0            63014.0

[5 rows x 22 columns]

In [26]:
df.describe()

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
count,7.900000e+01,3.700000e+01,4.700000e+01,16.000000,9.900000e+01,92.000000,84.000000,84.000000,84.000000,2.000000e+00,6.300000e+01,9.000000e+01,1.070000e+02,1.700000e+01,9.200000e+01,84.000000,84.000000,1.220000e+02,1.230000e+02
mean,1.072704e+06,8.588645e+05,-5.870296e+05,89822.875000,2.477951e+06,53966.097826,621.571429,63.928571,41.666667,1.200000e+06,6.825703e+05,3.602622e+05,9.669520e+05,6.218928e+05,2.665288e+05,1151.464286,2029.190476,1.746408e+06,2.795166e+06
std,1.198264e+06,1.302648e+06,9.513401e+05,41112.700735,4.226731e+06,46292.292167,1861.165940,87.747555,101.225304,1.131371e+06,7.816344e+05,9.280942e+05,1.751974e+06,3.845528e+06,1.319352e+05,1180.621793,2596.483254,2.496720e+06,4.654469e+06
min,7.000000e+04,-1.025000e+05,-3.504386e+06,3285.000000,3.285000e+03,148.000000,12.000000,0.000000,0.000000,4.000000e+05,6.922300e+04,2.000000e+00,-2.604490e+06,-1.787380e+06,4.770000e+02,2.000000,57.000000,1.480000e+02,-4.409300e+04
25%,4.125000e+05,7.771600e+04,-6.390935e+05,83674.500000,5.001270e+05,22140.500000,21.750000,10.000000,1.000000,8.000000e+05,2.750000e+05,1.197000e+03,2.437125e+05,-3.298250e+05,2.115140e+05,228.500000,530.500000,3.701908e+05,4.676160e+05
50%,7.500000e+05,2.274490e+05,-1.440620e+05,106164.500000,1.104054e+06,46547.500000,41.000000,35.000000,7.500000,1.200000e+06,4.156570e+05,5.198450e+04,4.410960e+05,-1.402640e+05,2.545700e+05,733.500000,1136.000000,1.095882e+06,1.080988e+06
75%,1.125000e+06,8.753070e+05,-3.750600e+04,112815.000000,2.286940e+06,78121.500000,163.250000,66.250000,24.250000,1.600000e+06,7.891040e+05,3.440270e+05,9.632520e+05,-7.241900e+04,3.042295e+05,1759.250000,2578.500000,2.039404e+06,2.497840e+06
max,8.000000e+06,6.426990e+06,-8.330000e+02,137864.000000,3.076606e+07,228763.000000,14368.000000,528.000000,609.000000,2.000000e+06,5.145434e+06,7.427621e+06,1.384707e+07,1.545629e+07,1.060932e+06,5521.000000,15149.000000,1.725253e+07,3.076606e+07

In [30]:
df

,name,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,ALLEN PHILLIP K,4175000.0,2869717.0,-3081055.0,NaN,phillip.allen@enron.com,1729541.0,13868.0,2195.0,47.0,...,304805.0,152.0,False,126027.0,-126027.0,201955.0,1407.0,2902.0,4484442.0,1729541.0
1,BADUM JAMES P,NaN,178980.0,NaN,NaN,NaN,257817.0,3486.0,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,182466.0,257817.0
2,BANNANTINE JAMES M,NaN,NaN,-5104.0,NaN,james.bannantine@enron.com,4046157.0,56301.0,29.0,39.0,...,NaN,864523.0,False,1757552.0,-560222.0,477.0,465.0,566.0,916197.0,5243487.0
3,BAXTER JOHN C,1200000.0,1295738.0,-1386055.0,NaN,NaN,6680544.0,11200.0,NaN,NaN,...,1586055.0,2660303.0,False,3942714.0,NaN,267102.0,NaN,NaN,5634343.0,10623258.0
4,BAY FRANKLIN R,400000.0,260455.0,-201641.0,NaN,frank.bay@enron.com,NaN,129142.0,NaN,NaN,...,NaN,69.0,False,145796.0,-82782.0,239671.0,NaN,NaN,827696.0,63014.0
5,BAZELIDES PHILIP J,NaN,684694.0,NaN,NaN,NaN,1599641.0,NaN,NaN,NaN,...,93750.0,874.0,False,NaN,NaN,80818.0,NaN,NaN,860136.0,1599641.0
6,BECK SALLY W,700000.0,NaN,NaN,NaN,sally.beck@enron.com,NaN,37172.0,4343.0,144.0,...,NaN,566.0,False,126027.0,NaN,231330.0,2639.0,7315.0,969068.0,126027.0
7,BELDEN TIMOTHY N,5249999.0,2144013.0,-2334434.0,NaN,tim.belden@enron.com,953136.0,17355.0,484.0,228.0,...,NaN,210698.0,True,157569.0,NaN,213999.0,5521.0,7991.0,5501630.0,1110705.0
8,BELFER ROBERT,NaN,-102500.0,NaN,3285.0,NaN,3285.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,44093.0,NaN,NaN,NaN,102500.0,-44093.0
9,BERBERIAN DAVID,NaN,NaN,NaN,NaN,david.berberian@enron.com,1624396.0,11892.0,NaN,NaN,...,NaN,NaN,False,869220.0,NaN,216582.0,NaN,NaN,228474.0,2493616.0
10,BERGSIEKER RICHARD P,250000.0,NaN,-485813.0,NaN,rick.bergsieker@enron.com,NaN,59175.0,59.0,4.0,...,180250.0,427316.0,False,659249.0,NaN,187922.0,233.0,383.0,618850.0,659249.0
11,BHATNAGAR SANJAY,NaN,NaN,NaN,137864.0,sanjay.bhatnagar@enron.com,2604490.0,NaN,29.0,0.0,...,NaN,137864.0,False,-2604490.0,15456290.0,NaN,463.0,523.0,15456290.0,NaN
12,BIBI PHILIPPE A,1000000.0,NaN,NaN,NaN,philippe.bibi@enron.com,1465734.0,38559.0,40.0,23.0,...,369721.0,425688.0,False,378082.0,NaN,213625.0,1336.0,1607.0,2047593.0,1843816.0
13,BLACHMAN JEREMY M,850000.0,NaN,NaN,NaN,jeremy.blachman@enron.com,765313.0,84208.0,14.0,25.0,...,831809.0,272.0,False,189041.0,NaN,248546.0,2326.0,2475.0,2014835.0,954354.0
14,BLAKE JR. NORMAN P,NaN,NaN,-113784.0,113784.0,NaN,NaN,1279.0,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,1279.0,NaN
15,BOWEN JR RAYMOND M,1350000.0,NaN,-833.0,NaN,raymond.bowen@enron.com,NaN,65907.0,27.0,140.0,...,974293.0,1621.0,True,252055.0,NaN,278601.0,1593.0,1858.0,2669589.0,252055.0
16,BROWN MICHAEL,NaN,NaN,NaN,NaN,michael.brown@enron.com,NaN,49288.0,41.0,13.0,...,NaN,NaN,False,NaN,NaN,NaN,761.0,1486.0,49288.0,NaN
17,BUCHANAN HAROLD G,500000.0,NaN,NaN,NaN,john.buchanan@enron.com,825464.0,600.0,125.0,0.0,...,304805.0,1215.0,False,189041.0,NaN,248017.0,23.0,1088.0,1054637.0,1014505.0
18,BUTTS ROBERT H,750000.0,NaN,-75000.0,NaN,bob.butts@enron.com,NaN,9410.0,NaN,NaN,...,175000.0,150656.0,False,417619.0,NaN,261516.0,NaN,NaN,1271582.0,417619.0
19,BUY RICHARD B,900000.0,649584.0,-694862.0,NaN,rick.buy@enron.com,2542813.0,NaN,1053.0,156.0,...,769862.0,400572.0,False,901657.0,NaN,330546.0,2333.0,3523.0,2355702.0,3444470.0
20,CALGER CHRISTOPHER F,1250000.0,NaN,-262500.0,NaN,christopher.calger@enron.com,NaN,35818.0,144.0,199.0,...,375304.0,486.0,True,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0
21,CARTER REBECCA C,300000.0,NaN,-159792.0,NaN,rebecca.carter@enron.com,NaN,NaN,15.0,29.0,...,75000.0,540.0,False,307301.0,-307301.0,261809.0,196.0,312.0,477557.0,NaN
22,CAUSEY RICHARD A,1000000.0,NaN,-235000.0,NaN,richard.causey@enron.com,NaN,30674.0,49.0,58.0,...,350000.0,307895.0,True,2502063.0,NaN,415189.0,1585.0,1892.0,1868758.0,2502063.0
23,CHAN RONNIE,NaN,NaN,-98784.0,98784.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,32460.0,-32460.0,NaN,NaN,NaN,NaN,NaN
24,CHRISTODOULOU DIOMEDES,NaN,NaN,NaN,NaN,diomedes.christodoulou@enron.com,5127155.0,NaN,NaN,NaN,...,NaN,NaN,False,950730.0,NaN,NaN,NaN,NaN,NaN,6077885.0
25,CLINE KENNETH W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,662086.0,-472568.0,NaN,NaN,NaN,NaN,189518.0
26,COLWELL WESLEY,1200000.0,27610.0,-144062.0,NaN,wes.colwell@enron.com,NaN,16514.0,40.0,240.0,...,NaN,101740.0,True,698242.0,NaN,288542.0,1132.0,1758.0,1490344.0,698242.0
27,CORDES WILLIAM R,NaN,NaN,NaN,NaN,bill.cordes@enron.com,651850.0,NaN,12.0,10.0,...,NaN,NaN,False,386335.0,NaN,NaN,58.0,764.0,NaN,1038185.0
28,COX DAVID,800000.0,NaN,-41250.0,NaN,chip.cox@enron.com,117551.0,27861.0,33.0,0.0,...,NaN,494.0,False,378082.0,NaN,314288.0,71.0,102.0,1101393.0,495633.0
29,CUMBERLAND MICHAEL S,325000.0,NaN,NaN,NaN,NaN,NaN,22344.0,NaN,NaN,...,275000.0,713.0,False,207940.0,NaN,184899.0,NaN,NaN,807956.0,207940.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,SAVAGE FRANK,NaN,NaN,-121284.0,125034.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,3750.0,NaN
114,SCRIMSHAW MATTHEW,NaN,NaN,NaN,NaN,matthew.scrimshaw@enron.com,759557.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,759557.0
115,SHANKMAN JEFFREY A,2000000.0,NaN,NaN,NaN,jeffrey.shankman@enron.com,1441898.0,178979.0,2681.0,94.0,...,554422.0,1191.0,False,630137.0,NaN,304110.0,1730.0,3221.0,3038702.0,2072035.0
116,SHAPIRO RICHARD S,650000.0,NaN,NaN,NaN,richard.shapiro@enron.com,607837.0,137767.0,1215.0,74.0,...,NaN,705.0,False,379164.0,NaN,269076.0,4527.0,15149.0,1057548.0,987001.0
117,SHARP VICTORIA T,600000.0,187469.0,NaN,NaN,vicki.sharp@enron.com,281073.0,116337.0,136.0,24.0,...,422158.0,2401.0,False,213063.0,NaN,248146.0,2477.0,3136.0,1576511.0,494136.0
118,SHELBY REX,200000.0,NaN,-4167.0,NaN,rex.shelby@enron.com,1624396.0,22884.0,39.0,13.0,...,NaN,1573324.0,True,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
119,SHERRICK JEFFREY B,NaN,NaN,NaN,NaN,jeffrey.sherrick@enron.com,1426469.0,NaN,25.0,39.0,...,NaN,NaN,False,405999.0,NaN,NaN,583.0,613.0,NaN,1832468.0
120,SHERRIFF JOHN R,1500000.0,NaN,NaN,NaN,john.sherriff@enron.com,1835558.0,NaN,92.0,28.0,...,554422.0,1852186.0,False,1293424.0,NaN,428780.0,2103.0,3187.0,4335388.0,3128982.0
121,STABLER FRANK,500000.0,NaN,NaN,NaN,frank.stabler@enron.com,NaN,16514.0,NaN,NaN,...,NaN,356071.0,False,511734.0,NaN,239502.0,NaN,NaN,1112087.0,511734.0
122,SULLIVAN-SHAKLOVITZ COLLEEN,100000.0,181993.0,NaN,NaN,NaN,1362375.0,NaN,NaN,NaN,...,554422.0,162.0,False,NaN,NaN,162779.0,NaN,NaN,999356.0,1362375.0
123,SUNDE MARTIN,700000.0,NaN,NaN,NaN,marty.sunde@enron.com,NaN,NaN,38.0,37.0,...,476451.0,111122.0,False,698920.0,NaN,257486.0,2565.0,2647.0,1545059.0,698920.0
124,TAYLOR MITCHELL S,600000.0,227449.0,NaN,NaN,mitchell.taylor@enron.com,3181250.0,NaN,29.0,0.0,...,NaN,NaN,False,563798.0,NaN,265214.0,300.0,533.0,1092663.0,3745048.0
125,THE TRAVEL AGENCY IN THE PARK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,362096.0,False,NaN,NaN,NaN,NaN,NaN,362096.0,NaN
126,THORN TERENCE H,NaN,16586.0,NaN,NaN,terence.thorn@enron.com,4452476.0,46145.0,41.0,0.0,...,200000.0,426629.0,False,365320.0,NaN,222093.0,73.0,266.0,911453.0,4817796.0
127,TILNEY ELIZABETH A,300000.0,NaN,-575000.0,NaN,elizabeth.tilney@enron.com,591250.0,NaN,19.0,10.0,...,275000.0,152055.0,False,576792.0,NaN,247338.0,379.0,460.0,399393.0,1168042.0
128,UMANOFF ADAM S,788750.0,NaN,NaN,NaN,adam.umanoff@enron.com,NaN,53122.0,18.0,12.0,...,NaN,NaN,False,NaN,NaN,288589.0,41.0,111.0,1130461.0,NaN
129,URQUHART JOHN A,NaN,NaN,-36666.0,36666.0,NaN,NaN,228656.0,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,228656.0,NaN
130,WAKEHAM JOHN,NaN,NaN,NaN,109298.0,NaN,NaN,103773.0,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,213071.0,NaN
131,WALLS JR ROBERT H,850000.0,NaN,NaN,NaN,rob.walls@enron.com,4346544.0,50936.0,146.0,17.0,...,540751.0,2.0,False,1552453.0,NaN,357091.0,215.0,671.0,1798780.0,5898997.0
132,WALTERS GARETH W,NaN,53625.0,NaN,NaN,NaN,1030329.0,33785.0,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,87410.0,1030329.0
133,WASAFF GEORGE,325000.0,831299.0,-583325.0,NaN,george.wasaff@enron.com,1668260.0,NaN,30.0,22.0,...,200000.0,1425.0,False,388167.0,NaN,259996.0,337.0,400.0,1034395.0,2056427.0
134,WESTFAHL RICHARD K,NaN,NaN,-10800.0,NaN,dick.westfahl@enron.com,NaN,51870.0,NaN,NaN,...,256191.0,401130.0,False,384930.0,NaN,63744.0,NaN,NaN,762135.0,384930.0
135,WHALEY DAVID A,NaN,NaN,NaN,NaN,NaN,98718.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,98718.0
136,WHALLEY LAWRENCE G,3000000.0,NaN,NaN,NaN,greg.whalley@enron.com,3282960.0,57838.0,556.0,186.0,...,808346.0,301026.0,False,2796177.0,NaN,510364.0,3920.0,6019.0,4677574.0,6079137.0
137,WHITE JR THOMAS E,450000.0,NaN,NaN,NaN,thomas.white@enron.com,1297049.0,81353.0,NaN,NaN,...,NaN,1085463.0,False,13847074.0,NaN,317543.0,NaN,NaN,1934359.0,15144123.0
138,WINOKUR JR. HERBERT S,NaN,NaN,-25000.0,108579.0,NaN,NaN,1413.0,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,84992.0,NaN
139,WODRASKA JOHN,NaN,NaN,NaN,NaN,john.wodraska@enron.com,NaN,NaN,NaN,NaN,...,NaN,189583.0,False,NaN,NaN,NaN,NaN,NaN,189583.0,NaN
140,WROBEL BRUCE,NaN,NaN,NaN,NaN,NaN,139130.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,139130.0
141,YEAGER F SCOTT,NaN,NaN,NaN,NaN,scott.yeager@enron.com,8308552.0,53947.0,NaN,NaN,...,NaN,147950.0,True,3576206.0,NaN,158403.0,NaN,NaN,360300.0,11884758.0
142,YEAP SOON,NaN,NaN,NaN,NaN,NaN,192758.0,55097.0,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,55097.0,192758.0