In [2]:
import pickle
import pandas as pd
import numpy as np

In [8]:
with open('datasets/final_project_dataset_modified.pkl') as data_file:
    data_dict = pickle.load(data_file)

df = pd.DataFrame(data_dict).transpose()
df = df.replace({"NaN":np.nan})
print df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143 entries, ALLEN PHILLIP K to YEAP SOON
Data columns (total 21 columns):
bonus                        79 non-null float64
deferral_payments            37 non-null float64
deferred_income              47 non-null float64
director_fees                16 non-null float64
email_address                109 non-null object
exercised_stock_options      99 non-null float64
expenses                     92 non-null float64
from_messages                84 non-null float64
from_poi_to_this_person      84 non-null float64
from_this_person_to_poi      84 non-null float64
loan_advances                2 non-null float64
long_term_incentive          63 non-null float64
other                        90 non-null float64
poi                          143 non-null bool
restricted_stock             107 non-null float64
restricted_stock_deferred    17 non-null float64
salary                       92 non-null float64
shared_receipt_with_poi      84 non-null float64
to_messages                  84 non-null float64
total_payments               122 non-null float64
total_stock_value            123 non-null float64
dtypes: bool(1), float64(19), object(1)
memory usage: 23.6+ KB
None

In [10]:
print df.head()

                        bonus  deferral_payments  deferred_income  \
ALLEN PHILLIP K     4175000.0          2869717.0       -3081055.0
BADUM JAMES P             NaN           178980.0              NaN
BANNANTINE JAMES M        NaN                NaN          -5104.0
BAXTER JOHN C       1200000.0          1295738.0       -1386055.0
BAY FRANKLIN R       400000.0           260455.0        -201641.0

                    director_fees               email_address  \
ALLEN PHILLIP K               NaN     phillip.allen@enron.com
BADUM JAMES P                 NaN                         NaN
BANNANTINE JAMES M            NaN  james.bannantine@enron.com
BAXTER JOHN C                 NaN                         NaN
BAY FRANKLIN R                NaN         frank.bay@enron.com

                    exercised_stock_options  expenses  from_messages  \
ALLEN PHILLIP K                   1729541.0   13868.0         2195.0
BADUM JAMES P                      257817.0    3486.0            NaN
BANNANTINE JAMES M                4046157.0   56301.0           29.0
BAXTER JOHN C                     6680544.0   11200.0            NaN
BAY FRANKLIN R                          NaN  129142.0            NaN

                    from_poi_to_this_person  from_this_person_to_poi  \
ALLEN PHILLIP K                        47.0                     65.0
BADUM JAMES P                           NaN                      NaN
BANNANTINE JAMES M                     39.0                      0.0
BAXTER JOHN C                           NaN                      NaN
BAY FRANKLIN R                          NaN                      NaN

                          ...          long_term_incentive      other    poi  \
ALLEN PHILLIP K           ...                     304805.0      152.0  False
BADUM JAMES P             ...                          NaN        NaN  False
BANNANTINE JAMES M        ...                          NaN   864523.0  False
BAXTER JOHN C             ...                    1586055.0  2660303.0  False
BAY FRANKLIN R            ...                          NaN       69.0  False

                    restricted_stock  restricted_stock_deferred    salary  \
ALLEN PHILLIP K             126027.0                  -126027.0  201955.0
BADUM JAMES P                    NaN                        NaN       NaN
BANNANTINE JAMES M         1757552.0                  -560222.0     477.0
BAXTER JOHN C              3942714.0                        NaN  267102.0
BAY FRANKLIN R              145796.0                   -82782.0  239671.0

                    shared_receipt_with_poi  to_messages  total_payments  \
ALLEN PHILLIP K                      1407.0       2902.0       4484442.0
BADUM JAMES P                           NaN          NaN        182466.0
BANNANTINE JAMES M                    465.0        566.0        916197.0
BAXTER JOHN C                           NaN          NaN       5634343.0
BAY FRANKLIN R                          NaN          NaN        827696.0

                    total_stock_value
ALLEN PHILLIP K             1729541.0
BADUM JAMES P                257817.0
BANNANTINE JAMES M          5243487.0
BAXTER JOHN C              10623258.0
BAY FRANKLIN R                63014.0

[5 rows x 21 columns]

In [11]:
df.describe()

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
count,7.900000e+01,3.700000e+01,4.700000e+01,16.000000,9.900000e+01,92.000000,84.000000,84.000000,84.000000,2.000000e+00,6.300000e+01,9.000000e+01,1.070000e+02,1.700000e+01,9.200000e+01,84.000000,84.000000,1.220000e+02,1.230000e+02
mean,1.072704e+06,8.588645e+05,-5.870296e+05,89822.875000,2.477951e+06,53966.097826,621.571429,63.928571,41.666667,1.200000e+06,6.825703e+05,3.602622e+05,9.669520e+05,6.218928e+05,2.665288e+05,1151.464286,2029.190476,1.746408e+06,2.795166e+06
std,1.198264e+06,1.302648e+06,9.513401e+05,41112.700735,4.226731e+06,46292.292167,1861.165940,87.747555,101.225304,1.131371e+06,7.816344e+05,9.280942e+05,1.751974e+06,3.845528e+06,1.319352e+05,1180.621793,2596.483254,2.496720e+06,4.654469e+06
min,7.000000e+04,-1.025000e+05,-3.504386e+06,3285.000000,3.285000e+03,148.000000,12.000000,0.000000,0.000000,4.000000e+05,6.922300e+04,2.000000e+00,-2.604490e+06,-1.787380e+06,4.770000e+02,2.000000,57.000000,1.480000e+02,-4.409300e+04
25%,4.125000e+05,7.771600e+04,-6.390935e+05,83674.500000,5.001270e+05,22140.500000,21.750000,10.000000,1.000000,8.000000e+05,2.750000e+05,1.197000e+03,2.437125e+05,-3.298250e+05,2.115140e+05,228.500000,530.500000,3.701908e+05,4.676160e+05
50%,7.500000e+05,2.274490e+05,-1.440620e+05,106164.500000,1.104054e+06,46547.500000,41.000000,35.000000,7.500000,1.200000e+06,4.156570e+05,5.198450e+04,4.410960e+05,-1.402640e+05,2.545700e+05,733.500000,1136.000000,1.095882e+06,1.080988e+06
75%,1.125000e+06,8.753070e+05,-3.750600e+04,112815.000000,2.286940e+06,78121.500000,163.250000,66.250000,24.250000,1.600000e+06,7.891040e+05,3.440270e+05,9.632520e+05,-7.241900e+04,3.042295e+05,1759.250000,2578.500000,2.039404e+06,2.497840e+06
max,8.000000e+06,6.426990e+06,-8.330000e+02,137864.000000,3.076606e+07,228763.000000,14368.000000,528.000000,609.000000,2.000000e+06,5.145434e+06,7.427621e+06,1.384707e+07,1.545629e+07,1.060932e+06,5521.000000,15149.000000,1.725253e+07,3.076606e+07