In [2]:
import pickle
import pandas as pd
import numpy as np

In [8]:
with open('datasets/final_project_dataset_modified.pkl') as data_file:
    data_dict = pickle.load(data_file)

df = pd.DataFrame(data_dict).transpose()
df = df.replace({"NaN":np.nan})
print df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143 entries, ALLEN PHILLIP K to YEAP SOON
Data columns (total 21 columns):
bonus                        79 non-null float64
deferral_payments            37 non-null float64
deferred_income              47 non-null float64
director_fees                16 non-null float64
email_address                109 non-null object
exercised_stock_options      99 non-null float64
expenses                     92 non-null float64
from_messages                84 non-null float64
from_poi_to_this_person      84 non-null float64
from_this_person_to_poi      84 non-null float64
loan_advances                2 non-null float64
long_term_incentive          63 non-null float64
other                        90 non-null float64
poi                          143 non-null bool
restricted_stock             107 non-null float64
restricted_stock_deferred    17 non-null float64
salary                       92 non-null float64
shared_receipt_with_poi      84 non-null float64
to_messages                  84 non-null float64
total_payments               122 non-null float64
total_stock_value            123 non-null float64
dtypes: bool(1), float64(19), object(1)
memory usage: 23.6+ KB
None

In [10]:
print df.head()

                        bonus  deferral_payments  deferred_income  \
ALLEN PHILLIP K     4175000.0          2869717.0       -3081055.0
BADUM JAMES P             NaN           178980.0              NaN
BANNANTINE JAMES M        NaN                NaN          -5104.0
BAXTER JOHN C       1200000.0          1295738.0       -1386055.0
BAY FRANKLIN R       400000.0           260455.0        -201641.0

                    director_fees               email_address  \
ALLEN PHILLIP K               NaN     phillip.allen@enron.com
BADUM JAMES P                 NaN                         NaN
BANNANTINE JAMES M            NaN  james.bannantine@enron.com
BAXTER JOHN C                 NaN                         NaN
BAY FRANKLIN R                NaN         frank.bay@enron.com

                    exercised_stock_options  expenses  from_messages  \
ALLEN PHILLIP K                   1729541.0   13868.0         2195.0
BADUM JAMES P                      257817.0    3486.0            NaN
BANNANTINE JAMES M                4046157.0   56301.0           29.0
BAXTER JOHN C                     6680544.0   11200.0            NaN
BAY FRANKLIN R                          NaN  129142.0            NaN

                    from_poi_to_this_person  from_this_person_to_poi  \
ALLEN PHILLIP K                        47.0                     65.0
BADUM JAMES P                           NaN                      NaN
BANNANTINE JAMES M                     39.0                      0.0
BAXTER JOHN C                           NaN                      NaN
BAY FRANKLIN R                          NaN                      NaN

                          ...          long_term_incentive      other    poi  \
ALLEN PHILLIP K           ...                     304805.0      152.0  False
BADUM JAMES P             ...                          NaN        NaN  False
BANNANTINE JAMES M        ...                          NaN   864523.0  False
BAXTER JOHN C             ...                    1586055.0  2660303.0  False
BAY FRANKLIN R            ...                          NaN       69.0  False

                    restricted_stock  restricted_stock_deferred    salary  \
ALLEN PHILLIP K             126027.0                  -126027.0  201955.0
BADUM JAMES P                    NaN                        NaN       NaN
BANNANTINE JAMES M         1757552.0                  -560222.0     477.0
BAXTER JOHN C              3942714.0                        NaN  267102.0
BAY FRANKLIN R              145796.0                   -82782.0  239671.0

                    shared_receipt_with_poi  to_messages  total_payments  \
ALLEN PHILLIP K                      1407.0       2902.0       4484442.0
BADUM JAMES P                           NaN          NaN        182466.0
BANNANTINE JAMES M                    465.0        566.0        916197.0
BAXTER JOHN C                           NaN          NaN       5634343.0
BAY FRANKLIN R                          NaN          NaN        827696.0

                    total_stock_value
ALLEN PHILLIP K             1729541.0
BADUM JAMES P                257817.0
BANNANTINE JAMES M          5243487.0
BAXTER JOHN C              10623258.0
BAY FRANKLIN R                63014.0

[5 rows x 21 columns]